
.myimg100{
  width:100%;
}

.myimg{
  width:50%;
}

.myimg40{
  width:40%;
}

.myimg33{
  width:33%;
}

.myimg30{
  width:30%;
}

.myimg25{
  width:25%;
}
.myimg20{
  width:20%;
}

.myvideo{
  width:480px;
  height:320px;
}

@media screen and (min-width: 320px) and (max-width: 1156px){
  .myimg33{
    width:66%;
  }
  .myimg30{
    width:60%;
  }
  .myimg40{
    width:80%;
  }
  .myimg{
    width:100%;
  }  
  .myimg20{
    width:40%;
  }
  .myimg25{
    width:50%;
  }
  .myvideo{
    width:100%;
    height:100%;
  }

}